In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
!cd

In [3]:
TBills = pd.read_csv('/content/drive/MyDrive/ML_projects/QLearningBot/bill-rates-2002-2021.csv',parse_dates=['Date'],index_col='Date')
print(TBills.head())

            4 WEEKS BANK DISCOUNT  4 WEEKS COUPON EQUIVALENT  \
Date
2021-12-31                   0.06                       0.06
2021-12-30                   0.06                       0.06
2021-12-29                   0.01                       0.01
2021-12-28                   0.03                       0.03
2021-12-27                   0.04                       0.04

            8 WEEKS BANK DISCOUNT  8 WEEKS COUPON EQUIVALENT  \
Date
2021-12-31                   0.05                       0.05
2021-12-30                   0.06                       0.06
2021-12-29                   0.02                       0.02
2021-12-28                   0.04                       0.04
2021-12-27                   0.05                       0.05

            13 WEEKS BANK DISCOUNT  13 WEEKS COUPON EQUIVALENT  \
Date
2021-12-31                    0.06                        0.06
2021-12-30                    0.05                        0.05
2021-12-29                    0.05                        0.05
2021-12-28                    0.06                        0.06
2021-12-27                    0.06                        0.06

            26 WEEKS BANK DISCOUNT  26 WEEKS COUPON EQUIVALENT  \
Date
2021-12-31                    0.19                        0.19
2021-12-30                    0.19                        0.19
2021-12-29                    0.19                        0.19
2021-12-28                    0.20                        0.20
2021-12-27                    0.21                        0.21

            52 WEEKS BANK DISCOUNT  52 WEEKS COUPON EQUIVALENT
Date
2021-12-31                    0.38                        0.39
2021-12-30                    0.37                        0.38
2021-12-29                    0.38                        0.39
2021-12-28                    0.38                        0.39
2021-12-27                    0.30                        0.30

In [4]:
SNP500 = pd.read_csv('/content/drive/MyDrive/ML_projects/QLearningBot/sp500_stocks.csv',parse_dates=['Date'],index_col='Date')
print(SNP500.head())

           Symbol  Adj Close      Close       High        Low       Open  \
Date
2009-12-31    MMM        NaN        NaN        NaN        NaN        NaN
2010-01-04    MMM  59.318886  83.019997  83.449997  82.669998  83.089996
2010-01-05    MMM  58.947342  82.500000  83.230003  81.699997  82.800003
2010-01-06    MMM  59.783295  83.669998  84.599998  83.510002  83.879997
2010-01-07    MMM  59.826176  83.730003  83.760002  82.120003  83.320000

               Volume
Date
2009-12-31        NaN
2010-01-04  3043700.0
2010-01-05  2847000.0
2010-01-06  5268500.0
2010-01-07  4470100.0

In [5]:
SNPandTBills = pd.merge(SNP500,TBills,left_index=True,right_index=True).sort_index()
print(SNPandTBills.head())

           Symbol  Adj Close  Close  High  Low  Open  Volume  \
Date
2009-12-31    MMM        NaN    NaN   NaN  NaN   NaN     NaN
2009-12-31    AOS        NaN    NaN   NaN  NaN   NaN     NaN
2009-12-31    ABT        NaN    NaN   NaN  NaN   NaN     NaN
2009-12-31   ABBV        NaN    NaN   NaN  NaN   NaN     NaN
2009-12-31   ABMD        NaN    NaN   NaN  NaN   NaN     NaN

            4 WEEKS BANK DISCOUNT  4 WEEKS COUPON EQUIVALENT  \
Date
2009-12-31                   0.04                       0.04
2009-12-31                   0.04                       0.04
2009-12-31                   0.04                       0.04
2009-12-31                   0.04                       0.04
2009-12-31                   0.04                       0.04

            8 WEEKS BANK DISCOUNT  8 WEEKS COUPON EQUIVALENT  \
Date
2009-12-31                    NaN                        NaN
2009-12-31                    NaN                        NaN
2009-12-31                    NaN                        NaN
2009-12-31                    NaN                        NaN
2009-12-31                    NaN                        NaN

            13 WEEKS BANK DISCOUNT  13 WEEKS COUPON EQUIVALENT  \
Date
2009-12-31                    0.06                        0.06
2009-12-31                    0.06                        0.06
2009-12-31                    0.06                        0.06
2009-12-31                    0.06                        0.06
2009-12-31                    0.06                        0.06

            26 WEEKS BANK DISCOUNT  26 WEEKS COUPON EQUIVALENT  \
Date
2009-12-31                     0.2                         0.2
2009-12-31                     0.2                         0.2
2009-12-31                     0.2                         0.2
2009-12-31                     0.2                         0.2
2009-12-31                     0.2                         0.2

            52 WEEKS BANK DISCOUNT  52 WEEKS COUPON EQUIVALENT
Date
2009-12-31                    0.44                        0.45
2009-12-31                    0.44                        0.45
2009-12-31                    0.44                        0.45
2009-12-31                    0.44                        0.45
2009-12-31                    0.44                        0.45

In [6]:
SNPandTBills = SNPandTBills.dropna()

In [7]:
SNPandTBills.shape

(401569, 17)

In [8]:
SNPandTBills.head()

,Symbol,Adj Close,Close,High,Low,Open,Volume,4 WEEKS BANK DISCOUNT,4 WEEKS COUPON EQUIVALENT,8 WEEKS BANK DISCOUNT,8 WEEKS COUPON EQUIVALENT,13 WEEKS BANK DISCOUNT,13 WEEKS COUPON EQUIVALENT,26 WEEKS BANK DISCOUNT,26 WEEKS COUPON EQUIVALENT,52 WEEKS BANK DISCOUNT,52 WEEKS COUPON EQUIVALENT
Date,,,,,,,,,,,,,,,,,
2018-10-16,MMM,179.922836,202.330002,202.520004,199.229996,200.460007,1939500.0,2.16,2.19,2.17,2.21,2.26,2.3,2.4,2.46,2.57,2.66
2018-10-16,AOS,45.584362,48.639999,48.750000,47.709999,47.880001,2754500.0,2.16,2.19,2.17,2.21,2.26,2.3,2.4,2.46,2.57,2.66
2018-10-16,ABT,67.425491,70.949997,71.180000,69.300003,69.550003,7638700.0,2.16,2.19,2.17,2.21,2.26,2.3,2.4,2.46,2.57,2.66
2018-10-16,ABBV,76.718559,91.910004,91.980003,89.529999,89.779999,3787100.0,2.16,2.19,2.17,2.21,2.26,2.3,2.4,2.46,2.57,2.66
2018-10-16,ABMD,386.880005,386.880005,388.109985,374.739990,376.279999,460600.0,2.16,2.19,2.17,2.21,2.26,2.3,2.4,2.46,2.57,2.66

In [13]:
SNPTBill = SNPandTBills.groupby(['Date']).agg({'Adj Close':'mean','4 WEEKS BANK DISCOUNT':'mean'})

In [14]:
SNPTBill.head()

             Adj Close  4 WEEKS BANK DISCOUNT
Date
2018-10-16  110.055932                   2.16
2018-10-17  109.774547                   2.17
2018-10-18  108.110290                   2.16
2018-10-19  107.608007                   2.15
2018-10-22  107.261326                   2.14

In [15]:
SNPTBill['Stocks'] = SNPTBill['Adj Close'].rolling(window=2).apply(lambda x: x[1]/x[0] - 1)
SNPTBill['TBills'] = (SNPTBill['4 WEEKS BANK DISCOUNT']/100 + 1) **(1/4) - 1

In [16]:
SNPTBill.head()

             Adj Close  4 WEEKS BANK DISCOUNT    Stocks    TBills
Date
2018-10-16  110.055932                   2.16       NaN  0.005357
2018-10-17  109.774547                   2.17 -0.002557  0.005381
2018-10-18  108.110290                   2.16 -0.015161  0.005357
2018-10-19  107.608007                   2.15 -0.004646  0.005332
2018-10-22  107.261326                   2.14 -0.003222  0.005308

In [17]:
SNPTBill['risk_adjusted'] = SNPTBill['Stocks'] - SNPTBill['TBills']

In [18]:
SNPTBill.head()

,Adj Close,4 WEEKS BANK DISCOUNT,Stocks,TBills,risk_adjusted
Date,,,,,
2018-10-16,110.055932,2.16,NaN,0.005357,NaN
2018-10-17,109.774547,2.17,-0.002557,0.005381,-0.007938
2018-10-18,108.110290,2.16,-0.015161,0.005357,-0.020517
2018-10-19,107.608007,2.15,-0.004646,0.005332,-0.009978
2018-10-22,107.261326,2.14,-0.003222,0.005308,-0.008529

In [19]:
SNPTBill = SNPTBill.dropna()

In [20]:
SNPTBill.head()

,Adj Close,4 WEEKS BANK DISCOUNT,Stocks,TBills,risk_adjusted
Date,,,,,
2018-10-17,109.774547,2.17,-0.002557,0.005381,-0.007938
2018-10-18,108.110290,2.16,-0.015161,0.005357,-0.020517
2018-10-19,107.608007,2.15,-0.004646,0.005332,-0.009978
2018-10-22,107.261326,2.14,-0.003222,0.005308,-0.008529
2018-10-23,106.697128,2.18,-0.005260,0.005406,-0.010666

In [21]:
returns = SNPTBill.drop(['Adj Close',	'4 WEEKS BANK DISCOUNT'],axis=1)

In [22]:
returns.head()

              Stocks    TBills  risk_adjusted
Date
2018-10-17 -0.002557  0.005381      -0.007938
2018-10-18 -0.015161  0.005357      -0.020517
2018-10-19 -0.004646  0.005332      -0.009978
2018-10-22 -0.003222  0.005308      -0.008529
2018-10-23 -0.005260  0.005406      -0.010666

In [24]:
returns.to_csv('/content/drive/MyDrive/ML_projects/QLearningBot/returns.csv')